%DMS-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%DMS-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%DMS-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%Poppins-700 {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

%Rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

$default: #585858;
$title: #436372;
