@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__inner {
    padding: 44px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 418px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {

    // &+& {
    //   margin-left: 33px;
    // }
    &:not(:first-child) {
      margin-left: 33px;
    }
  }

  &__link {
    color: $title;
    @extend %Rubik-500;
    font-size: 15px;
    padding-bottom: 6px;
    position: relative;

    &::before {
      width: 20px;
      height: 15px;
      background-image: url(../images/icons_nav/elem-logo.png);
      left: -24px;
      top: 0;
      visibility: hidden;
      transition: visibility .3s;
    }

    &:hover::before {
      visibility: visible;
    }
  }
}

.user-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  max-width: 590px;
  width: 100%;
  padding-top: 5px;
}

.search-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 323px;
  width: 100%;
}

.search-form {
  &__input {
    background-color: #fcd7b6;
    padding: 10px 10px 10px 20px;
    border-radius: 50px 0px 0px 50px;
  }

  &__btn {
    background-color: $button-nav;
    color: #fff;
    @extend %DMS-400;
    font-size: 14px;
    border: none;
    padding: 12px 20px 11px 10px;
    margin-left: -4px;
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
    outline: transparent;
  }
}

.search-btn {
  background-image: url(../images/icons_nav/search.svg);
  background-size: 32%;
  background-color: #edf1f4;

  &:hover {
    background-color: $button-nav;
  }
}

.menu-asside {
  background-image: url(../images/icons_nav/dots.svg);
  background-color: $button-nav;
  background-size: 42%;

  &:hover {
    background-color: #4b7d98;
  }
}

.actions-user {
  max-width: 180px;
  width: 100%;
  display: flex;

  &__item--heart {
    background-image: url(../images/icons_nav/heart.svg);
    background-position: 60% 60%;
    border-radius: 50px 0 0 50px;
  }

  &__num--heart {
    left: 60%;
  }


  &__item--cart {
    background-image: url(../images/icons_nav/cart.svg);
    background-position: 42% 60%;
    border-radius: 0 50px 50px 0;
  }

  &__num--cart {
    left: 45%;
  }

}



/******************************************/

.slider {
  &__block {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__inner {
    padding: 220px 15px 45px;
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
    margin-bottom: 206px;
  }

  &__content {
    max-width: 500px;
    margin-right: 115px;
  }

  &__title {
    font-size: 72px;
    line-height: 70px;
    color: $header;
    @extend %Rubik-500;
    margin-bottom: 28px;
    max-width: 420px;
    width: 100%;
    text-transform: uppercase;
  }

  &__text {
    max-width: 370px;
    margin-bottom: 41px;
    font-size: 18px;
  }

  &__btn-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    margin: 55px auto 0;
  }
}

/* в slick-dots БЭМ особо не получилось применить*/
.slick-dots {
  display: flex;
  justify-content: center;

  li {
    margin: 0 5px;

    button {
      @extend %Rubik-500;
      font-size: 11px;
      color: $header;
      padding: 0;
      background-color: #fde3cc;
      width: 30px;
      height: 30px;
      border: 1px solid transparent;
      border-radius: 50%;
      outline: transparent;
      cursor: pointer;
    }

    &.slick-active button {
      background-color: #fff;
    }
  }
}

/*****************************************/
.conditions {
  &__inner {
    background-color: $bg;
    display: flex;
  }

  &__item {
    padding: 35px 0 51px;
    max-width: 590px;
    width: 100%;

    &:not(:first-child) {
      border-left: 1px solid #e8e4df;
    }

    &:hover {
      .conditions__content:before {
        left: -130px;
      }
    }
  }

  &__content {
    margin-left: 230px;
    position: relative;
  }

  &__content::before {
    width: 60px;
    height: 60px;
    left: -84px;
    top: 13px;
    transition: left 0.3s;
  }

  &__content--hours::before {
    background-image: url(../images/conditions-icons/hours.svg);
  }

  &__content--truck::before {
    background-image: url(../images/conditions-icons/truck.svg);
  }

  &__content--card::before {
    background-image: url(../images/conditions-icons/card.svg);
  }


  &__title {
    font-size: 18px;
    line-height: 40px;
    @extend %DMS-700;
    color: #414141;
  }

  &__text {
    line-height: 1.6;
    max-width: 215px;
  }

  &__text--width {
    max-width: 205px;
  }

}

/*****************************************/

.products__title {
  margin-bottom: 212px;
}

.products__filter-btn {
  margin-bottom: 40px;
}

.products__btn {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.6px;
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: uppercase;
  outline: transparent;
  padding-bottom: 10px;
  border-bottom: 1px solid transparent;
  transition: border-color 0.5s;
}

.products__btn:hover {
  border-color: #00b2a0;
}

.products__btn+.gallery__btn {
  margin-left: 20px;
}

.mixitup-control-active {
  color: #00b2a0;
}

.products__content {
  margin-bottom: 40px;
  margin-right: -40px;
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  margin-bottom: 40px;
  margin-right: 40px;
}

.products__item:hover {
  transform: scale(0.9);
}

/**********************************/
.video {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    width: 100px;
    height: 100px;
    background-color: #a3bbc8;
    border-radius: 50%;
    transition: background-color 0.4s;
    position: relative;

    &:hover {
      background-color: #4b7d98;

      &:before {
        visibility: hidden;
      }
    }

    &:before {
      border-radius: 50%;
      background-color: rgb(163, 187, 200);
      opacity: 0.4;
      position: absolute;
      left: -15%;
      top: -15%;
      width: 127px;
      height: 127px;
      z-index: 72;
      -webkit-animation: pulse 5s infinite;
      animation: pulse 3s infinite;
      animation-timing-function: ease-in-out;
    }
  }

  &__play {
    margin: 0 auto;
    margin-top: 50%;
    transform: translateY(-50%);
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes pulse {
  40% {
    opacity: 0;
  }
}

/* Стандартный синтаксис */
@keyframes pulse {
  40% {
    opacity: 0;
  }
}

/**********************************/
.footer {
  padding: 96px 0 40px;
  font-size: 14px;
  line-height: 24px;

  &__logo {
    display: block;
    margin-top: -17px;
    margin-bottom: 24px;
  }
}

.footer-top {
  padding-bottom: 73px;
  border-bottom: 1px solid #dae4e9;
  margin-bottom: 31px;

  &__item {
    max-width: 270px;
    width: 100%;
    padding-right: 5px;
  }

  &__title {
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 18px;
    @extend %DMS-700;
  }

  &__list {
    &:not(:first-child) {
      margin-top: 7px;
    }

  }

  &__subscribe {
    margin-bottom: 33px;
  }
}

.address-item {
  max-width: 200px;
  display: block;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &__title {
    text-transform: uppercase;
    display: inline;
  }

  &__text {
    display: inline;
  }
}

.email-form {

  &__input {
    background-color: $bg;
    padding: 6px 15px;

    &:focus,
    &:hover {
      background-color: #efc8a2;
    }
  }

  &__btn {
    @extend %DMS-400;
    font-size: 14px;
    padding: 7px 15px;
    margin-left: -4px;
    max-width: 95px;
  }
}

.footer-menu__list {
  &:not(:first-child) {
    border-left: 1px solid #7b7b7b;
    padding-left: 15px;
    margin-left: 15px;
  }
}


/**********************************************/